@page "/demo";


<div class="container">
    <div class="container-body">
        <div class="body-content">
            <h3>Hello Demo</h3>
    <button class="btn btn-danger">Demo btn for sass</button>
        </div>
    </div>
</div>










@code {

}
